header{
    background-color: var(--color-primary);
    height: 90px;
    display: flex;
    align-items: center;
}

Plataform-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    
}
.Plataform-nav-content h1{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}
plataform-contact-conteiner{
    display: flex;
}

plataform-contact-link{
    margin: 0 0 0 10px;
    font-size: 12px;
    
}